.scene {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: linear-gradient(90deg, #a7f3d0 14px, transparent 1%) center,
    linear-gradient(#a7f3d0 14px, transparent 1%) center, #064e3b;
  background-size: 15px 15px;
}

.card__face--back {
  transform: rotateY(180deg);
}
